<p>The product is original and works fine with my laptop. I had a doubt regarding the part number of the battery but it seems fine now.
The battery gives a good backup as the older battery. Good thing is I got it for a good price and with 1 year warranty.

The product delivery was very good and well packed. The Seller response on my query was prompt.
Thank you Amazon and The Peripheral Store for this deal.</p>